table {
     border-collapse: collapse;
     width: 100%;
 }

th, td {
    text-align: center;
    padding: 8px;
}
hr{
    color: black;
}

.plan{
    margin: auto;
    width: 80%;
    height: 200px;
    border: black 1px solid;
    border-radius: 2%;
}
.time{
    width: 49%;
    height: 50px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    float: left;
    text-align: center;
    font-size: 18px;
}
.start{
    width: 49%;
    height: 50px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    float: left;
    text-align: center;
    font-size: 18px;
}

.start button{
    background-color: #333333; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 13px;
}
.text{
    Margin-top:10px
}
